{% block extends %}
{{ "{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block title %}" }}
{{ "{{ parent() }} - {{ 'views.edit.edit'|trans({'%entity%': '" }}{{ entity }}{{ "'}, 'MWSimpleCrudGeneratorBundle') }}" }}
{{ "{% endblock %}" }}

{{ "{% block page %}" }}
    <h1>{{ "{{ 'views.edit.edit'|trans({'%entity%': '" }}{{ entity }}{{ "'}, 'MWSimpleCrudGeneratorBundle') }}" }}</h1>

    {{ '{{ form(edit_form) }}' }}

    {% set hide_edit, hide_delete = true, false %}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}
{{ "{% endblock %}" }}
{% endblock body %}
