{{ "{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}" }}

{{ "{% block title %}" }}
{{ "{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': '" }}{{ entity }}{{ "'}, 'MWSimpleCrudGeneratorBundle') }}" }}
{{ "{% endblock %}" }}

{{ "{% block page %}" }}
<div class="row">
    <div class="span8">
        <h1>{{ "{{ 'views.index.list'|trans({'%entity%': '" }}{{ entity }}{{ "'}, 'MWSimpleCrudGeneratorBundle') }}" }}</h1>
    </div>

    <div class="span12">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                {% for field, metadata in fields %}

                    <th{{ "{% if entities.isSorted('a." ~ field|capitalize ~ "') %}" }} class="sorted"{{ "{% endif %}" }}>{{ "{{ knp_pagination_sortable(entities, '" ~ field|capitalize ~ "', 'a." ~ field|lower ~ "') }}" }}</th>
                    {#<th>{{ field|capitalize }}</th>#}

                {% endfor %}

                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {{ '{% for entity in entities %}' }}
                <tr>

            {% for field, metadata in fields %}
                {% if loop.first and ('show' in actions) %}

                    <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity.id }) }}" }}">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

                {% elseif metadata.type in ['datetime'] %}

                    <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

                {% elseif metadata.type in ['date'] %}

                    <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}</td>

                {% elseif metadata.type in ['time'] %}

                    <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}{% endif %}' }}</td>

                {% else %}

                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                {% endif %}

                {% if loop.last %}

                    <td>
                        {% include "crud/views/others/actions.html.twig.twig" %}
                    </td>

                {% endif %}
            {% endfor %}

                </tr>
            {{ '{% endfor %}' }}
            </tbody>
        </table>
    </div>

    <div class="span4 navigation">
        {{ "{{ knp_pagination_render(entities) }}" }}
    </div>

    {% if 'new' in actions %}
    <div class="span8">
        <a class="btn btn-primary likepaginator" href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}">
            {{ "{{ 'views.index.createnew'|trans({}, 'MWSimpleCrudGeneratorBundle') }}" }} {{ entity }}
        </a>
    </div>
    {% endif %}
</div>
{{ "{% endblock %}" }}